.generate-invoice-form-section-worker {
    padding: 3%;
}

.gi-form-section-worker {
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    background-color: #fcfbd8;
    border-radius: 8px;
}
    
.form-generate-invoice-worker {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.form-gen-invoice-form-worker-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group-invoice-worker {
    margin-bottom: 3%;
}

.input-gen-inv-form-worker {
    width: 60vw;
    border-radius: 5px;
    padding: 0.5%;
    height: 5vh;
}

.submit-button-form-inv-worker {
    background-color: var(--beige);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}